body {
    background-color: #3c3c3c;
    color: rgb(235, 235, 235);
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div#mapButtons {
    display: flex;
    justify-content: space-around;
}

.mapButton {
    background-color: #646464;
    width: 100%;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
}

.mapButton:hover {
    background-color: #a1a1a1;
}

.comp-table {
    display: flex;
}

.ship-stat-column {
    width: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.stat-line-HP {
    width: 160px;
}

.stat-line-FP,
.stat-line-TP,
.stat-line-AR,
.stat-line-AA {
    width: 80px;
}

div#comp th,
div#comp td,
.gimmick-table th,
.gimmick-table td {
    padding: 5px;
    border-color: #898989;
    border-style: solid;
    border-width: thin;
}

.gimmick-table,
.routingTable,
#comp table  {
    border-collapse: collapse;
}

div#mapAndCompsContainer {
    width: 70%;
}

div#pageContent {
    display: flex;
    flex-wrap: wrap;
}

.routingLine {
    display: flex;
    padding: 10px;
}

#routingContainer th,
#routingContainer td {
    padding: 5px;
    border-color: #898989;
    border-style: solid;
    border-width: thin;
}

.routingLine .node-battle {
    margin-right: 20px;
}

button.diff-button,
button.part-button,
.button {
    border-radius: 8px;
    margin: 15px;
    padding: 10px 15px;
    background-color: #222222;
    color: #dbdbdb;
}

button.diff-button.diff-button-selected,
button.part-button.part-button-selected {
    background-color: #7a7a7a;
    font-weight: 700;
    color: #e3e3e3;
}

span.last-dance-text {
    color: red;
    font-weight: 600;
}

span.post-clear-text {
    color: rgb(139, 151, 255);
    font-weight: 600;
}

#mapInfo {
    width: 100%;
    margin: 30px;
}

.mapInfoTitle {
    padding: 10px;
    font-size: larger;
    border: solid 1px gray;
    background-color: #646464;
    cursor: pointer;
    line-height: 30px;
    margin-top: 10px;
}

.mapInfoContent {
    padding: 10px;
    border-color: #898989;
    border-style: solid;
    border-width: thin;
}

div#routing {
    width: 28%;
    
}

.mapInfoContentGroupTitle {
    margin: 5px 10px;
}

.mapInfoContentGroupContainer {
    margin: 10px;
}

.yasen-text {
    color: #ca84d3;
}

.gimmick-table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.debuff-step-done {
    background-color: #487c35;
}

.bonus-group {
    width: 500px;
}

.bonus-stacks {
    font-weight: 700;
    font-style: italic;
}

.bonus-cell {
    display: flex;
    align-items: center;
}

.bonus-cell span {
    margin-left: 10px;
    margin-right: 10px;
}

.edit, .editor {
    display: flex;
    align-items: baseline;
}

.edit-label,
.editor label {
    margin-right: 10px;
    line-height: 20px;
    
}

.editor input {
    line-height: 20px;
}

button.play-bgm {
    margin-left: 10px;
}

.map-part-edit,
.unlock-edit {
    margin-top: 10px;
}

.gimmick-edit {
    margin-left: 30px;
    margin-top: 10px;
}

.chr-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #484848;
    padding: 30px;
    border-style: solid;
    border-radius: 10%;
    border-color: gray;
}

.title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}

.group-title {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}

.editor-group {
    margin-left: 15px;
}