body {
    background-color: #3c3c3c;
    color: rgb(235, 235, 235);
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div#mapButtons {
    display: flex;
    justify-content: space-around;
}

.mapButton {
    background-color: #646464;
    width: 100%;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
}

.mapButton:hover {
    background-color: #a1a1a1;
}

.comp-table {
    display: flex;
}

.ship-stat-column {
    width: 160px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.stat-line-HP {
    width: 160px;
}

.stat-line-FP,
.stat-line-TP,
.stat-line-AR,
.stat-line-AA {
    width: 80px;
}

div#comp th,
div#comp td {
    padding: 5px;
    border-color: #898989;
    border-style: solid;
    border-width: thin;
}

div#mapAndCompsContainer {
    width: 70%;
}

div#pageContent {
    display: flex;
    flex-wrap: wrap;
}

.routingLine {
    display: flex;
    padding: 10px;
}

#routingContainer th,
#routingContainer td {
    padding: 5px;
    border-color: #898989;
    border-style: solid;
    border-width: thin;
}

.routingLine .node-battle {
    margin-right: 20px;
}

button.diff-button {
    border-radius: 8px;
    margin: 15px;
    padding: 10px 15px;
    background-color: #222222;
    color: #dbdbdb;
}

button.diff-button.diff-button-selected {
    background-color: #7a7a7a;
    font-weight: 700;
    color: #e3e3e3;
}

span.last-dance-text {
    color: red;
    font-weight: 600;
}

#mapInfo {
    width: 100%;
    margin: 30px;
}

.mapInfoTitle {
    padding: 10px;
    font-size: larger;
    border: solid 1px gray;
    background-color: #646464;
    cursor: pointer;
    line-height: 30px;
    margin-top: 10px;
}

.mapInfoContent {
    padding: 10px;
    border-color: #898989;
    border-style: solid;
    border-width: thin;
}

div#routing {
    width: 28%;
    
}

.mapInfoContentGroupTitle {
    margin: 5px 10px;
}

.mapInfoContentGroupContainer {
    margin: 10px;
}

.yasen-text {
    color: #ca84d3;
}