.map-editor-groups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map-editor-left-group {
    width: 100%;
}

.map-editor-groups .editor-group {
    overflow-y: scroll;
}

.mapButtons {
    display: flex;
    flex-direction: row;
}

.map-settings.editor-group {
    height: calc(100vh - 100px) !important;
}

select.mapButton  {
    color: white;
    border-width: 0px;
}

.mapButton.mapButtonSelected {
    background-color: #979797;
}

.map-settings > .editor-group {
    
    height: calc(100vh - 150px) !important;
}

.map-settings .rule-editor {
    overflow-y: visible;
}

.editor-group-no-scroll {
    overflow-y: visible !important;
}

.equipDataRuleEditor {
    width: 350px;
}

.equipDataRuleEditor .equipEditor {
    width: 350px;
}

.equipDataRuleEditor .equipEditor .name input {
    width: 300px;
    margin-right: 5px;
}

.equipDataRuleEditor .equipEditor .name {
    display: flex;
}

td {
    border-width: 1px;
    border-style: solid;
    border-color: #818181;
}

button {
    background-color: #646464;
    color: white;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: none;
}

button:hover {
    background-color: #a1a1a1;
}

tr > button {
    width: 100%;
}

.group-title-foldable {
    padding: 10px;
    font-size: larger;
    border: solid 1px gray;
    background-color: #646464;
    cursor: pointer;
    line-height: 30px;
    margin-top: 10px;
}

.group-foldable {
    margin-bottom: 50px;
}